<% layout("/layouts/boilerplate.ejs")%>
<script>
    let mapToken = "<%= process.env.MAP_TOKEN %>";
    let coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
    console.log("from show.ejs");
    console.log(coordinates);
</script>
<body>
    <br>
    <div class="row">
        <div class="card card-show col-6 offset-3">
            <h5 class="card-title mt-3 mb-2"><b><%= listing.title %></b></h5>
            <img src="<%= listing.image.url %>" class="card-img-top" alt="Image">
            <div class="card-body">
            <p class="card-text"><i>Ownded by <%= listing.owner.username || "Jay"%></i><br><%= listing.description %> <br>
                    &#36;<%= listing.price.toLocaleString("en-CA")%> <br>
                    <%= listing.location %>,&nbsp;<%= listing.country %>
            </p>
            <% if (loggedInUser && loggedInUser._id.equals(listing.owner._id)) { %>
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                    <button class="btn btn-dark cancel-btn">Delete</button>
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary submit-btn"> Edit</a>
                </form>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <% if (loggedInUser) { %>
        <div class="col-6 offset-3" >
             
                <h3 class="mb-3">Leave a Review</h3>
                <form action="/listings/<%= listing._id %>/reviews" method="post" class="mb-3 needs-validation" novalidate>
                <div class="mb-2">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                </div>
                <div class="mb-2">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" rows="3" cols="20" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please provide comment</div>
                </div>
                <button class="btn btn-dark submit-btn">Submit</button>
            </form>
        </div>
        <% } %>
        <% if (listing.reviews.length > 0) { %>
        <div class="col-6 offset-2">
            <hr>
            <h3>All review</h3>
            <br>
            <div class="row">
            <% for(let review of listing.reviews) { %>
                <div class="card-review col-3 m-3">
                    <div class="card-body m-3">
                        <h4 class="card-title"><%= review.author.username %></h5><br>
                        <p class="starability-result" data-rating="<%= review.rating %>">
                            Rated: 3 stars
                        </p>
                        <p class="card-text"><%= review.comment %></p>
                        <h6 class="card-subtitle mb-2 text-body-secondary">   
                            <% if (loggedInUser && review.author._id.equals(loggedInUser._id)) { %> 
                                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                                    <button class="btn btn-dark">Delete</button>
                                </form>
                            <% } %>
                        </h6>
                    </div>
                </div>
            <% } %>
            </div>
        </div>
        <% } %>
        <% if (listing.geometry.coordinates.length > 0) { %>
        <div class="col-6 offset-3">
            <hr>
            <h3>Where you will be</h3>
            <div id="map"></div>
        </div>
        <% } %>
    </div>
    <script src="/script/map.js"></script>
    </body>