<% layout("/layouts/boilerplate.ejs")%>
<body>
    <br>
    <div class="row">
        <div class="card card-show col-6 offset-2">
            <h5 class="card-title mt-3 mb-2"><b><%= listing.title %></b></h5>
            <img src="<%= listing.image.url %>" class="card-img-top" alt="Image">
            <div class="card-body">
            <p class="card-text"><%= listing.description %> <br>
                    &#36;<%= listing.price.toLocaleString("en-CA")%> <br>
                    <%= listing.location %>,&nbsp;<%= listing.country %>
            </p>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-dark cancel-btn">Delete</button>
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary submit-btn"> Edit</a>
            </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-2" >
            <hr>
            <h3 class="mb-3">Leave a Review</h3>
            <form action="/listings/<%= listing._id %>/reviews" method="post" class="mb-3 needs-validation" novalidate>
                <div class="mb-2">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" name="review[rating]" id="rating" class="form-range" required>
                </div>
                <div class="mb-2">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" rows="3" cols="20" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please provide comment</div>
                </div>
                <button class="btn btn-dark submit-btn">Submit</button>
            </form>
        </div>
        <div class="col-6 offset-2">
            <hr>
            <h3>All review</h3>
            <br>
            <div class="row">
            <% for(let review of listing.reviews) { %>
                <div class="card-review col-3 m-3">
                    <div class="card-body m-3">
                        <h4 class="card-title">Jay Patel</h5>
                        <p class="card-text"><%= review.comment %></p>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><%= review.rating %> star
                            <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                                <button class="btn btn-dark">Delete</button>
                            </form>
                        </h6>
                    </div>
                </div>
            <% } %>
            </div>
        </div>
    </div>
    </body>
    </body>